*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
    --color1:#f9d6d5;
    --color2:#f6c8c7;
    --color3:#f6c8c7;
    --color4:#f9d6d5;
    --color5:#fafafa;
}
#content{
    width:45%;
    margin:25px auto;
    background-color: var(--color2);
    box-shadow: 4px 5px 10px;
    background-image: url(https://i.pinimg.com/1200x/4a/cf/48/4acf48fdd16cad563f243ef46e498547.jpg);
    background-size: cover;    
}
#cabecera,#cursos{
    height: 100px;
    padding:5px;
}
#cabecera img{
    height: 70%;   
}
#tareas{
    text-align: center;
}
#personal{
    height: 280px;
    text-align: center ; 
}
#personal img{
    height: 70%;
    border-radius: 50%;
    padding: 5px;
    background-color: #f8f6f6;
    border:1px dashed rgb(50, 64, 187);  
    margin-top: 10px;    
}
#personal h1{    
    text-shadow: 5px 5px 10px black;
    color: white;
}
#personal p{
    font-style: oblique;
    color:white;
    text-shadow: 2px 2px 4px black;
    margin-top: 10px; 
}
#tareas{
    height: 180px; 
    margin-top: 25px;    
}
#tareas ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 70%;  
}
#tareas li{
    list-style-type: none;
    margin: 3px;   
    height: 20%;   
    background-color: #F2F2F2;
    align-content: center;   
}
#tareas a{
    padding:10px;
    text-decoration: none;
    color:black;
    height: 40px;    
}
#tareas a:hover{
    background-color: dimgrey;
    color:#F2F2F2
}
#tareas p{
    text-transform: uppercase;
    font-weight: bold;
    background-color:#F2F2F2;
    padding:5px;
    margin:5px 40px;
}

#cursos{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    text-align: center;
    
}
.curso{
    margin:5px;
}
.curso img{
    height: 80%;
    box-shadow: 2px 2px 5px dimgrey;
}
figcaption{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}